<h1><%= @business.name %></h1>
<div id="bl-details">
	<ul id="b-details">
		<li class="b-address">
			<%= @business.address %> <%= @business.city %>, <%= @business.state %> <%= @business.zip %>
		</li>
		<li class="b-phone">
			<%= @business.phone %>
		</li>
		<% if !@business.website.empty? %>
			<li class="b-website">
				<%= link_to "Visit Website", @business.website%>
			</li>
		<% end %>
		<% if !@business.email.empty? %>
			<li class="b-email">
				<a href="mailto:<%= @business.email %>">Send email</a>
			</li>
		<% end %>
	</ul>
	<img src="/images/Joe.JPG" class="pad10 left"/>

	<ul id="user-tools">
		<li>
			<a href="#" class="blueButtonSM">bookmark</a>
		</li>
		<li>
			<a href="#" class="blueButtonSM"  id="button">write review</a>
		</li>
	</ul>
	<ul id="business-hours">
		<li class="title">
			Business Hours
		</li>
		<% if !@business.mon_hours.empty? %>
			<li class="dayOfWeek">
				<span class="left">Monday</span>
				<span class="right"><%= @business.mon_hours %></span>
				<div class="clear">
				</div>
			</li>
		<% end %>
		<% if !@business.tues_hours.empty? %>
			<li class="dayOfWeek">
				<span class="left">Tuseday</span>
				<span class="right"><%= @business.tues_hours %></span>
				<div class="clear">
				</div>
			</li>
		<% end %>
		<% if !@business.wed_hours.empty? %>
			<li class="dayOfWeek">
				<span class="left">Wednesday</span>
				<span class="right"><%= @business.wed_hours %></span>
				<div class="clear">
				</div>
			</li>
		<% end %>
		<% if !@business.thurs_hours.empty? %>
			<li class="dayOfWeek">
				<span class="left">Thursday</span>
				<span class="right"><%= @business.thurs_hours %></span>
				<div class="clear">
				</div>
			</li>
		<% end %>
		<% if !@business.fri_hours.empty? %>
			<li class="dayOfWeek">
				<span class="left">Friday</span>
				<span class="right"><%= @business.fri_hours %></span>
				<div class="clear">
				</div>
			</li>
		<% end %>
		<% if !@business.sat_hours.empty? %>
			<li class="dayOfWeek">
				<span class="left">Saturday</span>
				<span class="right"><%= @business.sat_hours %></span>
				<div class="clear">
				</div>
			</li>
		<% end %>
		<% if !@business.sun_hours.empty? %>
			<li class="dayOfWeek">
				<span class="left">Sunday</span>
				<span class="right"><%= @business.sun_hours %></span>
				<div class="clear">
				</div>
			</li>
		<% end %>
		<% if !@business.other_hours.empty? %>
			<li class="dayOfWeek">
				<span class="left"><%= @business.other_hours %></span>
				<div class="clear">
				</div>
			</li>
		<% end %>
	</ul>
	<div class="tab-container">

		<div id="tabs">
			<ul>
				<li>
					<a href="#details">about business</a>
				</li>
				<li>
					<a href="#tabs-2">photo(s)</a>
				</li>
				<% if @coupons.count > 0 %>
					<li>
						<a href="#coupons">coupon(s)</a>
					</li>
				<% end %>
				<% if @comments.count > 0 %>
					<li>
						<a href="#comment_view">Review(s)</a>
					</li>
				<% end %>
			</ul>
			<div id="details">
				<p>
					<strong>Year established:</strong>&nbsp;<%= @business.year_established %>
				</p>
				<p>
					<strong>Payment methods:</strong>&nbsp;<%= @business.payment_method %>
				</p>
				<% if !@business.parking.empty? %>
					<p>
						<strong>Payment parking:</strong>&nbsp;<%= @business.parking %>
					</p>
				<% end %>
			</div>
			<div id="tabs-2">

				<p>
					Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
				</p>
			</div>
			<% if @coupons.count > 0 %>
				<div id="coupons">
					<%= render 'business_coupons' %>
				</div>
			<% end %>
			<% if @comments.count > 0 %>
				<div id="comment_view">
					<div id="comments">
					  <%= render @comments %>
					</div>
				</div>
			<% end %>
		</div>
		<div id="popupContact">
			<%= render 'comment_form' %>
		</div>
		<div id="backgroundPopup"></div>
	</div><!-- End demo -->
</div><!-- ./bl-details -->

