<div class="pad10"><%= link_to 'New Business', manager_new_businesses_path %></div>

<table class="clear" cellspacing="7" width="700px">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>City</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @businesses.each do |business| %>
  <tr>
    <td><%= link_to business.name, manager_edit_businesses_path(business) %></td>
    <td><%= business.phone %></td>
    <td><%= business.city %></td>
    <td><%= business.state %></td>
    <td><%= link_to 'Products', products_manager_path(business.id) %></td>
    <td><%= link_to 'Services', services_manager_path(business.id) %></td>
    <td><%= link_to 'Photos', images_manager_path(business.id) %></td>
    <td><%= link_to 'Coupons', coupons_manager_path(business.id) %></td>
  </tr>
<% end %>
</table>

<div id="paginate-style">
	<%= will_paginate @businesses %>
</div>
<div class="clear"></div>
