<h1><%= @business.name %> coupons</h1>

<table class="clear" cellspacing="10" width="700px">
  <tr>
    <th>Headline</th>
    <th>Body</th>
    <th>Expire</th>
    <th>Exclusion</th>
    <th></th>
  </tr>


  <% @coupons.each do |coupon| %>
	  	<tr>
		    <td><%= link_to coupon.headline, manager_edit_coupons_path(coupon) %></td>
		    <td><%= coupon.body %></td>
		    <td><%= coupon.expire %></td>		    
		    <td><%= coupon.exclusion %></td>
		    <td><%= link_to "Delete", manager_destroy_coupons_path(coupon.id), confirm: 'Are you sure?', method: :delete %></td>
	  	</tr>
  <% end %>
</table>

<div id="paginate-style">
	<%= will_paginate @coupons %>
</div>
<div class="clear"></div>
<%= link_to 'New Coupon', manager_new_coupons_path(@business.id) %> | 
<%= link_to 'Business Home', businesses_manager_path %>
