<h1><%= @business.name %> images</h1>

<table class="clear" cellspacing="10" width="700px">
  <tr>
    <th>&nbsp;</th>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image_tag image.photo.url(:thumb) %></td>
    <td><%= image.title %></td>
    <td><%= image.body %></td>
    <td><%= link_to 'Edit', manager_edit_images_path(image) %></td>
    <td><%= link_to 'Delete', manager_destroy_images_path(image.id), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<div id="paginate-style">
	<%= will_paginate @images %>
</div>
<div class="clear"></div>
<%= link_to 'New Image', manager_new_images_path(@business.id) %> | 
<%= link_to 'Business Home', businesses_manager_path %>
