<div id="new-comments">
	<div id="new-comments-header">
		Post a comment
	</div>
	<%= form_for @comment, :url => blog_create_comment_path do |f| %>
	  <% if @comment.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
	
	      <ul>
	      <% @comment.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	  <div class="pad10">
	    <%= f.label :body %><br />
	    <%= f.text_area :body %>
	    <p id="charlimitinfo"></p>
	  </div>
	  
	  <div class="pad10">
	    <%= f.label :rating %><br />
	    <%= f.select :rating, [['1',1],['2',2],['3',3],['4',4],['5',5]] %>
	  </div>
	  
	  <input type="hidden" name="comment[item_id]" value="<%= @blog.id %>">
	  <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>">
	  <input type="hidden" name="comment[comment_type]" value="blog">
	  
	  <div class="actions left clear mart10">
	    <%= f.submit "Post" %>
	  </div>
	<% end %>
</div>
