<div class="left">
	<h1>Log in</h1>
	<%= render :partial => 'user_sessions/form' %>
<div class="clear"></div>
</div>

<div style="border-left: 1px solid rgb(204, 204, 204); padding-left: 30px; float:right;">
	<h1>Register</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="pad10">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="pad10">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="pad10">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="pad10">
    <%= f.label :birthday %><br />
    <%= date_select 'user', 'birthday', :start_year => 1950, :order => [ :day, :month, :year ] %>
  </div>
  <div class="pad10">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>  
  <div class="pad10">
    <%= f.label :time_zone %><br />
	<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  </div>
  <input type="hidden" name="user[user_type]" value="enduser">

  <div class="pad10">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="pad10">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions pad10">
    <%= f.submit "register" %>
  </div>
<% end %>
<div class="clear">
</div>
