                        <ul id="menu">
							<li id="menuitem">
								<%= link_to "home", homepage_path%>
							</li>
							<li id="menuitem">
								<%= link_to "articles", articles_path%>
							</li>
							<li id="menuitem">
								<%= link_to "blogs", blogs_path%>
							</li>
							<li id="menuitem">
								<%= link_to "business listings", homepage_path%>
							</li>
							<li id="menuitem">
								<%= link_to "coupons", view_coupons_path%>
							</li>
							<li id="menuitem">
								<%= link_to "advertise", advertise_path%>
							</li>
                            <li id="menuitem">
                            	<%= link_to "site map", homepage_path%>
                            </li>
                            <li id="menuitem">
                                &nbsp;&copy;Black List
                            </li>
                        </ul><!-- ./menu -->