<ul id="menu">
	<li id="menuitem">
		<%= link_to "home", homepage_path%>
	</li>
	<li id="menuitem">
		<%= link_to "articles", articles_path%>
	</li>
	<li id="menuitem">
		<%= link_to "blogs", blogs_path%>
	</li>
	<li id="menuitem">
		<%= link_to "listings", businesses_home_path%>
	</li>
	<li id="menuitem">
		<%= link_to "coupons", view_coupons_path%>
	</li>
	<li id="menuitem">
		<%= link_to "advertise", advertise_path%>
	</li>
	<li id="menuitem">
		<% if current_user %>
			<%= link_to current_user.firstname, dashboard_path( current_user.id, :title => current_user.firstname + "-" + current_user.lastname )%>
			(<%= link_to "Logout", :logout, :class => "logout" %>)
		<% else %>
			<%= link_to "register/login", new_user_path%>
		<% end %>
	</li>
</ul><!-- ./menu -->