<ul class="ui-tabs-nav">
	<% @businesses.each do |business| %>
		<li class="ui-tabs-nav-item ui-tabs-selected" id="nav-fragment-1">
			<a href="#fragment-<%= business.id %>"><%= image_tag business.photo.url(:thumb) %><span><%= business.name %></span></a>
		</li>
	<% end %>
</ul>	                   

<% @businesses.each do |business| %>
	<!-- <%= business.id %> Content -->
	<div id="fragment-<%= business.id %>" class="ui-tabs-panel" style="">
		<%= image_tag business.photo.url(:feature) %>
		<div class="info">
			<h2><%= link_to business.name, view_business_path(business, :title => business.name.gsub(/\s/,"-").gsub("\"","")) %></h2>
			<p><%= truncate(business.description, :length => 130, :omission => '... (continued)') %></p>
		</div>
	</div><!-- ./<%= business.id %> Content -->
<% end %>